# Python-related files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.tgz
*.tar.gz
*.ini

# Virtual Environment
.venv/
env/
venv/
*.env*
.env_example


# Build / Distribution
dist/
build/
site/

# Logs / Reports
*.log
*.log.*
*.logfire
*.coverage/
log/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.gradio/
.history/
temp/

# IDE / Editor Files
.idea/
.vscode/
.vscode/settings.json

# Framework-specific files
local_neo4jWorkDir/
neo4jWorkDir/

# Data & Storage
inputs/
rag_storage/
examples/input/
examples/output/
deepcode-mcp/agent_folders

# Miscellaneous
.DS_Store
TODO.md
ignore_this.txt
*.ignore.*

# unit-test files
test_*
run_indexer_with_filtering.py

# Cline files
memory-bank/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md

# Secrets - NEVER commit API keys
mcp_agent.secrets.yaml